.thumbnail {
  border-radius: 20px;
  border: solid green;
  transition-duration: 0.01s;


}


.thumbnails {
  border-radius: 15px;
  height: 240px;
  width: 100%;
}

.thumbnails>img {
  border-radius: 15px;
  height: 240px;
  width: 100%;
}

.thumbContainer {
  padding-top: 70px;
}

.thumbnail:hover {
  border-color: #4286f4;

}
